* {
    margin: 0;
    padding: 0;
}

.navContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
    padding-top: 10px;
    border: ridge 2px;
    flex-wrap: wrap;
    
}

.navItem ul{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    
}

.navItem ul li {
    list-style: none;
    position: relative;
    padding-left: 60px;
    font-size: 24px;
}

.navContainer ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.navPhoto img {
    width: 100px;
    height: 80px;
    border: groove 2px pink;
    border-radius: 120px;
    box-shadow: 3px 3px 10px pink;
}

.search-btn-container {
    position: relative;
    display: flex;
}

.head-container img {
    width: 650px;
    height: 100%;
}

.head-container {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(255, 225, 230, 0.3);
}
.pink-cafe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2.0;
    font-size: 20px;
    text-align: center;
}

.menu-item {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    line-height: 2.0;
}

h1 {
    margin-top: 30px;
    margin-left: 80px;
}

.menu-item img {
    width: 240px;
    height: 240px;
    border-radius: 500px;
    border: groove rgb(255, 225, 230, 0.3)
}

.greeting {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    background-color: rgb(255, 225, 230, 0.3);
    margin-bottom: 40px;
    margin-top: 40px;
    line-height: 2.0;  
}


.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 1.8;
}

.activity {
    text-align: left;
    padding-right: 40px;
}

.touch {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.webContact img {
    width: 24px;
    height: 24px;
}

.socialMedia {
    line-height: 3.0;
}